<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- Routing settings -->
    <add key="Rodes.FileKeeper.Routing.LocalFileAccessBaseUri" value="https://localhost/FileKeeper/Files/"/>
    <!--<add key="Rodes.FileKeeper.Routing.CdnFileAccessBaseUri" value="https://[storageAccountName].blob.core.windows.net/" />-->

    <!-- Storage settings -->
    <add key="Rodes.FileKeeper.Storage.AzureBlobs.PublicContainerName" value="publicfiles"/>
    <add key="Rodes.FileKeeper.Storage.AzureBlobs.PrivateContainerName" value="privatefiles"/>
  </appSettings>

  <connectionStrings>
    <add name="Rodes.FileKeeper.Storage.DataStore" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rodes.FileKeeper;Integrated Security=False" providerName="System.Data.SqlClient"/>
    <add name="Rodes.FileKeeper.Storage.FileStore" connectionString="DefaultEndpointsProtocol=https;AccountName=rodesdev;AccountKey=Tqh2FR2Ub4vWJPlDwjub6VX8Uwf0GfRJos77jDgC9H1kK+ohkDo+3ufC4hrdVJT6KaQKp7RfUzDKPBrDn7y1wQ==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>